@import url("./utils/reset.css");
@import url("./utils/variables.css");
@import url("./utils/fonts.css");
@import url("./utils/display.css");
@import url("./utils/flex.css");
@import url("./utils/gap.css");
@import url("./utils/grid.css");
@import url("./utils/order.css");
@import url("./utils/padding.css");
@import url("./utils/size.css");
@import url("./utils/text.css");
@import url("./utils/icons.css");
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./components/breadcrumbs.css");
@import url("./components/hero.css");
@import url("./components/categories.css");
@import url("./components/posts-landing.css");
@import url("./components/pagination.css");
@import url("./components/newsletter.css");
@import url("./components/post-header.css");
@import url("./components/post-body.css");
@import url("./components/post-footer.css");
@import url("./pages/post/edit.css");


/* ----- EDIT POST ----- */

.form-editor {

    & .form-top {
        display: grid;
        grid-template-columns: 1fr 300px;
        color: rgba(var(--color-secondary), 1);

        & label {
            font-size: var(--text-sm);
            padding-bottom: var(--space-2xs)
        }

        & #title {
            color: rgba(var(--color-secondary), 1);

            &::placeholder {
                color: rgba(var(--color-secondary), .75);
            }
        }


        & #category {
            background-color: rgba(var(--color-primary), 1);
            text-align: center;
    
            & option {
                background-color: rgba(var(--color-primary), 1);
                font-size: var(--text-sm);
                font-weight: 300;
            }
        }
    }

    & .thumbnail-background {
        background-image: url('../img/Placeholder 1.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid rgba(var(--turquoise-dark-hover), 1);

        & #thumbnail {
            display: none;
        }

        & label {
            position: relative;
            display: grid;
            place-content: center;
            cursor: pointer;
            padding: var(--space-2xl);

            & span {
                font-family: 'Geist Mono';
                font-size: var(--text-sm);
                font-weight: 300;
                z-index: 10;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(var(--color-primary), .75);
                border-radius: 10px;
                z-index: 5;
            }
        }
    }
    
    & input, #category {
        font-size: var(--text-sm);
        padding: var(--space-s);
        border-radius: 10px;
        border: 2px solid rgba(var(--turquoise-dark-hover), 1);
    } 

    & .form-buttons {
        padding-top: var(--space-m);
        padding-bottom: var(--space-3xl);
        
        & .btn, .delete-btn{
            font-size: var(--text-sm);
            max-width: 200px;
            width: 100%;
            margin: auto;
        }
    }

}



/* ----- COMMON COMPONENTS----- */

.tag {
    font-family: 'Geist Mono';
    font-size: var(--text-sm);
    letter-spacing: .25rem;
    background: linear-gradient(45deg, rgba(var(--turquoise-normal), 1), rgba(var(--turquoise-light), 1));
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(22,67,90,1) 0%, rgba(57,204,204,1) 50%, rgba(22,67,90,1) 100%);
}

.heading {
    font-size: var(--text-xl);
    font-weight: 600;
    padding-block: var(--space-3xl);
}

.gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        background: rgba(var(--color-primary), 1);
        z-index: -10;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -20;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        transform: translate(-3px, -3px);
        border-radius: 10px; 
    }

    &.gradient-left::after {
        background: linear-gradient(90deg, rgba(57,204,204, .5) 0%, rgba(190,190,190, .1) 100%); /*TODO -> Check colors */
    }
    &.gradient-mid::after {
        background: linear-gradient(90deg, rgba(190,190,190, .2) 0%, rgba(190,190,190, .1) 100%); /*TODO -> Check colors */
    }
    &.gradient-right::after {
        background: linear-gradient(90deg, rgba(190,190,190, .1) 0%, rgba(57,204,204, .5) 100%); /*TODO -> Check colors */
    }

    &.gradient-mid::after {
        background: linear-gradient(90deg, rgba(190,190,190, .1) 0%, rgba(57,204,204, .5) 50%, rgba(190,190,190, .1) 100%);
    }

    &.gradient-top::after {
        background: linear-gradient(180deg, rgba(190,190,190, .1) 0%, rgba(57,204,204, .5) 100%); /*TODO -> Check colors */
        border-radius: 40px; 
    }

    &.gradient-top::before {
        border-radius: 40px; 
    }
    
}

& .circle {
    position: relative;

    &.circle-left::after {
        content: "";
        position: absolute;
        inset: 0;
        max-width: 300px;
        width: 100%;
        height: 150%;
        transform: translate(-50%, -18%);
        border-radius: 50%;
        background-color: rgba(var(--turquoise-normal), .2);
        filter: blur(200px);
        z-index: -5;
    }

    &.circle-right::before {
        content: "";
        position: absolute;
        right: 0;
        max-width: 300px;
        width: 100%;
        height: 150%;
        transform: translate(50%, -18%);
        border-radius: 50%;
        background-color: rgba(var(--turquoise-normal), .2);
        filter: blur(200px);
        z-index: -5;
    }
}

.btn {
    font-size: var(--text-sm);
    font-weight: 500;
    border-radius: 10px;
    padding: 20px 40px;
    background: rgba(var(--turquoise-dark-hover), 1);
}

.edit-btn {
    cursor: pointer;
    padding: 15px 16px;
    border-radius: 10px;
    background: rgba(var(--turquoise-dark), 1);
    color: rgba(var(--color-secondary), 1);
}

.delete-btn {
    cursor: pointer;
    padding: 15px 16px;
    border-radius: 10px;
    background: rgba(var(--red-warning), 1);
    color: rgba(var(--color-secondary), 1);
}

.media-padding {
    padding-inline: 20px;
}