/* ----- FOOTER ----- */
footer {
    padding-top: var(--space-xl);

    & .footer-logo {
        aspect-ratio: 58 / 7;
        width: 175px;
        height: 100%;
    }

    & .noroff {
        text-align: center;
        padding: var(--space-s);
        
        & span {
            font-family: 'Geist Mono';
            font-size: var(--text-sm);
            font-weight: 300;
        }

        & img {
            margin: auto;
            padding-top: 10px;
        }
    }

    & .footer-links, .copyright {
        font-size: var(--text-sm);
        color: rgba(var(--color-secondary), .75);
    }

    & .footer-links {
        flex-wrap: wrap;
        padding: var(--space-l);
    }

    & .copyright {
        padding-bottom: var(--space-s);
    }
}

/* ----- MEDIA ----- */

/* SMALL screens (mobile) */
@media only screen and (max-width: 600px) {

    footer {

        & .header {
            display: flex;
            flex-direction: column;
            align-content: center;
            gap: var(--space-m);
            padding-block: var(--space-xl);
            padding-top: 0px;
        }

        & .footer-links {
            flex-direction: column;
            align-items: center;
            gap: var(--space-s);

            & span {
                display: none;
            }
        }

    }

}