/* ----- FOOTER ----- */
footer {
    padding-top: var(--space-xl);

    & .footer-logo {
        aspect-ratio: 58 / 7;
        width: 175px;
        height: 100%;
    }

    & .noroff {
        text-align: center;
        padding: var(--space-s);
        
        & span {
            font-family: 'Geist Mono';
            font-size: var(--text-sm);
            font-weight: 300;
        }

        & img {
            margin: auto;
            padding-top: 10px;
        }
    }

    & .footer-links, .copyright {
        font-size: var(--text-sm);
        color: rgba(var(--color-secondary), .75);
    }

    & .footer-links {
        padding: var(--space-l);
    }

    & .copyright {
        padding-bottom: var(--space-s);
    }


}