/* ----- HEADER ----- */
header {
  position: sticky;
  top: 0;
  z-index: 1000000;
  background: rgba(var(--elephant-darker), .5);
  box-shadow: 10px 10px 10px rgba(var(--color-primary), .5);
  backdrop-filter: blur(20px);
  
    & svg {
        aspect-ratio: 58 / 7;
        width: 175px;
        height: 100%;
    }

    & a {
        font-size: var(--text-sm);
        font-weight: 300;
    }

    .toggle-switch {
        position: relative;
        width: 45px;
        height: 30px;
        --light: rgba(var(--color-secondary), 1);
        --dark: #28292c;
        user-select: none;

        &:hover .slider::before{
            -webkit-box-shadow: inset 6px -4px 0px 0px rgba(var(--turquoise-normal), 1);
            box-shadow: inset 6px -4px 0px 0px rgba(var(--turquoise-normal), 1);
          }

        & .switch-label {
            position: absolute;
            width: 100%;
            height: 25px;
            background-color: var(--dark);
            border-radius: 30px;
            cursor: pointer;
            border: 3px solid var(--dark);
          }
          
        & .checkbox {
            display: none;
          }
          
        & .slider {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
          }
          
        & .checkbox:checked ~ .slider {
            background-color: var(--light);
          }
          
        & .slider::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 4px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-box-shadow: inset 6px -4px 0px 0px var(--light);
            box-shadow: inset 6px -4px 0px 0px var(--light);
            background-color: var(--dark);
            -webkit-transition: 0.3s;
            transition: 0.3s;
          }
          
        & .checkbox:checked ~ .slider::before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
            background-color: var(--dark);
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        & span:last-of-type {
            display: none;
        }
    }
}



/* ----- MEDIA ----- */

/* SMALL screens (mobile) */
@media only screen and (max-width: 600px) {

  header {
    & .text {
        display: none;
    }

    & ul  {
      gap: 15px !important;
    }
  }
}
