/*---- INTERVIEWS TEMPLATE -----*/

.interview-content {

    margin-bottom: var(--space-3xl);

    & .interview-question {
        font-size: var(--text-base);
        font-weight: 150;
        padding-top: var(--space-l);
      
    }

    & .interview-answer {
        font-size: var(--text-base);
        font-weight: 50;
        padding-block: var(--space-s);
        text-wrap: pretty;
    }

    & p:not(.interview-answer){
        font-size: var(--text-base);
        font-weight: 50;
        padding-bottom: var(--space-s);
        text-wrap: pretty;
    }

    & p > a {
        color: rgba(var(--turquoise-dark), 1);
        font-size: var(--text-base);
        font-weight: 100;
        text-decoration: none;
        text-decoration: underline;
    }

    & ul {
        padding-inline: var(--space-l);
        padding-block: var(--space-s);

        & li {
            font-size: var(--text-base);
            font-style: italic;
            font-weight: 50;
            padding-bottom: var(--space-3xs);
            list-style-type: disc;
        }
    }

    & strong {

        font-weight: 120;
    }

    & img {
        aspect-ratio: 16/9;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin-block: var(--space-xl);
    }

    & iframe {
        margin-top: var(--space-l);
        aspect-ratio: 16/9;
        width: 100%;
        /* aspect-ratio: 16/9;
        width: 100%;
        height: 100%;
        background: rgba(var(--color-primary), 1); */
    }
}