/* ----- ACCOUNT ----- */
.account {
    background: rgba(var(--elephant-darker), 1);
    padding: var(--space-xl);
    border-radius: 10px;
    

    & header {

        & h1 {
            text-align: center;
            font-size: var(--text-base);
            font-weight: 600;
           
        }

        & .button-group-container {
            background: rgba(var(--elephant-normal-active), 1);
            padding: var(--space-xs);
            border-radius: 10px;
            margin-bottom: 40px;

            & button {
                flex: 1;
                padding: var(--space-xs);
                border-radius: 10px;
                font-size: var(--text-sm);
                font-weight: 300;
                color: rgba(var(--color-secondary), .75);
                cursor: pointer;

                &[data-is-active="true"] {
                    background: rgba(var(--turquoise-dark-hover), 1);
                    color: rgba(var(--color-secondary), 1);
                    font-weight: 500;
                }
            }
        }   
    }

    & .body {
        
        & input {
            flex: 1;
            padding: 20px;
            font-size: var(--text-sm);

            &::placeholder {
                font-weight: 300;
                color: rgba(var(--color-secondary), .75);
            }

        }
            
        & .border-bottom {
            border-bottom: 2px solid rgba(var(--turquoise-dark-hover), 1);
        }

        & span {
            font-weight: 200;
            color: rgba(var(--color-secondary), .75);
        }

        & [data-visibility] {
            cursor: pointer;
        }

        & input[type="checkbox"] + label {
            cursor: pointer;
            font-size: var(--text-sm);
            font-weight: 300;
            color: rgba(var(--color-secondary), .75);
        }

        & a {
            font-size: var(--text-sm);
            font-weight: 300;
            color: rgba(var(--color-secondary), .5);
        }

    }

    & footer {
        max-width: 480px;

        & p {
            text-align: center;
            font-size: var(--text-sm);
            font-weight: 300;
            color: rgba(var(--color-secondary), .5);
        }
    }
}

/* ----- MEDIA ----- */


/* MEDIUM screens (tablets) */
@media only screen and (max-width: 1024px) {
    .account-body {
        background: rgba(var(--elephant-darker), 1);

        & .account {
            padding: 20px;
        }

        & .gradient-login::after {
            background: none;
        }
    }
}
  
