/* ----- NEWSLETTER ----- */
.newsletter {
    padding: var(--space-3xl);
    background: rgba(var(--elephant-darker), 1);

    & h3 {
        font-size: var(--text-xl);
        font-weight: 600;
        padding-block: var(--space-s);
    }

    & p:first-of-type {
        font-size: var(--text-base);
        font-weight: 300;
        color: rgba(var(--color-secondary), 1);
        /* padding-block: var(--space-xs); */
    }

    & p:last-of-type {
        font-size: var(--text-sm);
        font-weight: 300;
        color: rgba(var(--color-secondary), .75);
        /* padding-block: var(--space-xs); */

        & a {
            font-weight: 600;
            text-decoration: underline;
            color: rgba(var(--turquoise-dark), 1);
        }
    }

    & .subscription-form-container {
        padding: var(--space-xl);

        & input {
            background-color: transparent;
            border: 2px solid rgba(var(--turquoise-dark-hover), 1);
            border-radius: 10px;
            padding-inline: var(--space-m);
            max-width: 400px;
            width: 100%;
        }
    }
    
}
