/* ----- POSTS ----- */
.posts {

    & article {
        background: linear-gradient(90deg, rgba(243,243,243, .1) 0%, rgba(151,151,151, .03) 100%);
        border-radius: 10px;

        & header {
            border-radius: 10px 10px   0px 0px;
            overflow: hidden;
            height: 100%;
        }
        
        & img {
            aspect-ratio: 16 / 9;
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }

    & .post-body {
        display: flex;
        flex-direction: column;

        padding: var(--space-l);
    
        & .title {
            font-size: var(--text-lg);
            font-weight: 700;
            color: rgba(var(--color-secondary), 1);
            padding-top: var(--space-m);
        }
    
        & .text-content {
            font-size: var(--text-base);
            font-weight: 300;
            color: rgba(var(--color-secondary), .75);
            padding-top: var(--space-xs);
        }
    
        & .date {
            font-family: 'Geist Mono';
            font-size: var(--text-sm);
            font-weight: 100;
            letter-spacing: .05rem;
            color: rgba(var(--color-secondary), .75);
        }

        & .material-symbols-outlined {
            font-size: var(--text-xl);
            font-weight: 700;
        }
    }

    & footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--space-l);
        margin-top: auto;
    }

    

    & .first-post {
        grid-column: span 2;
        display: flex;

       
    }

}