.search-panel {
    position: relative;
    font-size: var(--text-sm);
    z-index: 120;
    transition: max-height .3s ease, opacity .3s ease;

    &[data-search-is-closed="false"] {
        max-height: auto;
        opacity: 1;
        visibility: visible;
        transition: max-height .3s ease, opacity .5s ease;
    }
    &[data-search-is-closed="true"] {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height .3s ease, opacity .5s ease;
    }

    


    & form {
        padding-top: var(--space-2xl);
        border-bottom: 2px solid rgba(var(--turquoise-dark-hover), 1);

        & input {
            flex: 1;
            padding: var(--space-s);
            outline: none;
        }
    }

    & .latest-posts{
        padding-block: var(--space-2xl);
        

        & h2 {
            color: rgba(var(--color-secondary), .75);
            font-weight: 300;
        }
        
        & ul {
           margin: 30px;

           & li {
            font-weight: 300;

           }
        }

    }
}