.gap-1{gap: 1px;}
.gap-2{gap: 2px;}
.gap-3{gap: 3px;}
.gap-4{gap: 4px;}
.gap-5{gap: 5px;}
.gap-6{gap: 6px;}
.gap-7{gap: 7px;}
.gap-8{gap: 8px;}
.gap-9{gap: 9px;}
.gap-10{gap: 10px;}
.gap-15{gap: 15px;}
.gap-20{gap: 20px;}
.gap-25{gap: 25px;}
.gap-30{gap: 30px;}
.gap-35{gap: 35px;}
.gap-40{gap: 40px;}
.gap-45{gap: 45px;}
.gap-50{gap: 50px;}
.gap-55{gap: 55px;}
.gap-60{gap: 60px;}
.gap-70{gap: 70px;}
.gap-75{gap: 75px;}
.gap-80{gap: 80px;}
.gap-85{gap: 85px;}
.gap-90{gap: 90px;}
.gap-95{gap: 95px;}