.hover-opacity{
    opacity: 1;
    
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: .7;
        transition: opacity .3s ease-in-out;
    }
}

.hover-underline {
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color;

    &:hover {
        color: rgba(var(--turquoise-normal-hover), 1);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;

        &::after {
            width: 100%;
            left: 5%;
        }
    }

    &::after {
        content: "";
        pointer-events: none;
        bottom: -5px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: rgba(var(--turquoise-normal-hover), 1);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

}

.hover-media {
    position: relative;
    display: grid;
    place-content: center;
    transition: color .3s ease, scale .3s ease;

    &::before {
        content: "";
        position: absolute;
        transform: translateX(-14%);
        filter: blur(15px);
        opacity: 0; /* Initially hidden */
        transition: opacity .5s ease; /* Transition after 1s delay */
        inset: 0;
        width: 140%;
        height: 100%;
        background-color: rgba(var(--turquoise-normal-hover), 1);
        border-radius: 50%;
        z-index: -1;
    }
  
    &:hover {
      scale: 1.2;
      color: rgba(var(--turquoise-normal-hover), 1);
  
      &::before {
        opacity: .6;
      }
    }
  }

  .post:hover {
    
    & header img {   
        scale: 1.1;
    }
    
    & .material-symbols-outlined {
        transform: translateX(10px);
        background: transparent;
        color: rgba(var(--turquoise-normal), 1);
        border-radius: 50%;
    }

}