/* ------------------ RESET ------------------ */

    /* ----- BEFORE & AFTER ------ */

    *, *::before, *::after {box-sizing: border-box;}

    blockquote:before, blockquote:after, q:before, q:after {
        content:"";
        content: none;
    }

    /* ----- MARGINS & PADDINGS ----- */

    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    /* ----- IMG ----- */

    img, picture, video, iframe, figure {
        max-width: 100%;
        width: auto;
        display: block;
        object-fit: cover;
        object-position: center center;
    }

    /* ----- LINKS ----- */

    a {
        display: block;
    }
    p a 
    {display: inline;
    }

    /* ----- LISTS ----- */

    li {
        list-style-type: none;
    }

    /* ----- SCROLL BEHAVIOR ----- */

    html {
        scroll-behavior: smooth;
        font-size: 62.5%;
    }

    /* ----- TEXT STYLES ----- */

    h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
        font-size: 1em;
        font-weight: inherit;
        font-style: inherit;
        text-decoration: none;
        color: inherit;
    }


    ::selection {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    /* ----- FORMS ----- */

    form, input, textarea, select, button, label {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        display: block;
        background-color: transparent;
    }

    /* ----- TABLES ----- */

    table, tr, td {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* ----- SVG ----- */
    svg {
        width: 100%;
        display: block;
        fill: currentColor;
    }

    body {
        min-height: 100vh;
        font-size: 100%;
        font-family: var(--font-primary);
        background: var(--color-primary);
        color: var(--color-secondary);
        line-height: 1.4;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
