:root {
    /* SCHEME */
    color-scheme: light dark;

    /* MAIN COLORS RGB */

    --color-primary: 7, 13, 17;
    --color-secondary: 253, 253, 253;


    /* REST OF COLORS RGB */

    --turquoise-light: 235, 250, 250;
    --turquoise-light-hover: 225, 247, 247;
    --turquoise-light-active: 194, 239, 239;
    --turquoise-normal: 57, 204, 204;
    --turquoise-normal-hover: 51, 184, 184;
    --turquoise-normal-active: 46, 163, 163;
    --turquoise-dark: 43, 153, 153;
    --turquoise-dark-hover: 34, 122, 122;
    --turquoise-dark-active: 26, 92, 92;
    --turquoise-darker: 20, 71, 71;

    --elephant-light: 232, 236, 239;
    --elephant-light-hover: 220, 227, 2306;
    --elephant-light-active: 183, 197, 204;
    --elephant-normal: 22, 67, 90;
    --elephant-normal-hover: 20, 60, 81;
    --elephant-normal-active: 18, 54, 72;
    --elephant-dark: 17, 50, 68;
    --elephant-dark-hover: 13, 40, 54;
    --elephant-dark-active: 10, 30, 40;
    --elephant-darker: 8, 23, 31;

    --gray-light: 253, 253, 253;
    --gray-light-hover: 252, 252, 252;
    --gray-light-active: 250, 250, 250;
    --gray-normal: 238, 238, 238;
    --gray-normal-hover: 214, 214, 214;
    --gray-normal-active: 190, 190, 190;
    --gray-dark: 179, 179, 179;
    --gray-dark-hover: 143, 143, 143;
    --gray-dark-active: 107, 107, 107;
    --gray-darker: 83, 83, 83;

    --red-warning: 128, 35, 32;
    --green-success: 33, 96, 33;
    
    /* TYPOGRAPHY */

    --font-primary: 'Poppins', sans-serif;

    --text-xs: clamp(0.6944rem, 0.6893rem + 0.0256vi, 0.72rem);
    --text-sm: clamp(0.8333rem, 0.82rem + 0.0667vi, 0.9rem);
    --text-base: clamp(1rem, 0.975rem + 0.125vi, 1.125rem);
    --text-lg: clamp(1.2rem, 1.1588rem + 0.2063vi, 1.4063rem);
    --text-xl: clamp(1.44rem, 1.3764rem + 0.3178vi, 1.7578rem);
    --text-2xl: clamp(1.728rem, 1.6341rem + 0.4693vi, 2.1973rem);
    --text-3xl: clamp(2.0736rem, 1.939rem + 0.673vi, 2.7466rem);
    --text-4xl: clamp(2.4883rem, 2.2993rem + 0.9449vi, 3.4332rem);

    /* SPACING */

    --space-3xs: clamp(0.25rem, 0.2375rem + 0.0625vi, 0.3125rem);       /* 5px - 4px */
    --space-2xs: clamp(0.5rem, 0.4875rem + 0.0625vi, 0.5625rem);        /* 8px - 9px */
    --space-xs: clamp(0.75rem, 0.725rem + 0.125vi, 0.875rem);           /* 14px - 12px */
    --space-s: clamp(1rem, 0.975rem + 0.125vi, 1.125rem);               /* 16px - 18px */
    --space-m: clamp(1.5rem, 1.4625rem + 0.1875vi, 1.6875rem);          /* 27px - 24px */
    --space-l: clamp(2rem, 1.95rem + 0.25vi, 2.25rem);                  /* 36px - 32px */
    --space-xl: clamp(3rem, 2.925rem + 0.375vi, 3.375rem);              /* 54px - 48px */
    --space-2xl: clamp(4rem, 3.9rem + 0.5vi, 4.5rem);                   /* 72px - 64px */
    --space-3xl: clamp(6rem, 5.85rem + 0.75vi, 6.75rem);                /* 108px - 96px */
 }
   